.Grille{
    background-color: gainsboro;
    min-height: 50vh;
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

@media screen and (width <= 768px){
    .Grille{
        background-color: transparent;
    }
}
