@use "../../../Variable/variable.scss" as colors;


  .about-content {
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    flex-basis: 50%;
    overflow: hidden;
  
    p {
      margin-block: 0;
  
      i {
        display: flex;
        align-items: flex-end;
      }
    }
    max-height: 50px;
    transition: max-height 1.1s ease;

    &.hidden {
      max-height: 50px;
    }

    &.visible {
      max-height: 600px;
    }

    .about-title {
      background-color: colors.$color-primairy-background;
      color: colors.$color-tertiary-white;
      padding: 10px 20px;
      border-radius: 0.7rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }

    .about-info {
      padding: 20px;
      background-color: colors.$color-secundairy-background;
      border-radius: 10px;
      position: relative;
      top: -0.5rem;
      z-index: -1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 1s ease-in-out;
  
      &.hidden {
        transform: translateY(-100%);
      }
  
      &.visible {
        transform: translateY(0);
      }
    }
  }
  .description-content {
    display: flex;
    gap: 1rem;
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }