@use "../../../Variable/variable.scss" as colors;

.info-appart {
    h1 {
      margin: 0;
      margin-top: 30px;
      font-size: 36px;
      line-height: 142%;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  
    h2 {
      margin: 0;
      margin-top: 10px;
      font-size: 18px;
      line-height: 142%;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  
    .tags-appart {
      display: flex;
      gap: 10px;
      align-items: center;
  
      span {
        background-color: colors.$color-primairy-background;
        color: colors.$color-tertiary-white;
        border-radius: 10px;
        font-size: 14px;
        line-height: 142%;
        padding: 0.3em;
        text-align: center;
        width: 115px;
        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }