.banner{
    position: relative;
    max-width: 1240px;
    height: 223px;
    margin: auto;
    border-radius: 25px;
    background-image: url("./src/assets/image/banner/banner01.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


.banner::before{
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner h1{
    z-index: 1;
    color: white;
    font-size: 48px;
    line-height: 69px;
    font-weight: 500;
}

@media screen and (width <= 768px) {
    .banner{
        height: 111px;
        justify-content: flex-start;
        padding-left: 20px;
    }
    .banner h1{
        font-size: 24px;
        line-height: 34.22px;
        width: 40%;
        align-self: flex-start;
    }
    
}

@media screen and (width <= 425px){
    .banner h1{
        width: 60%;
    }
    
}

@media screen and (width <= 375px){
    .banner h1{
        width: 70%;
    }
    
}

@media screen and (width <= 320px){
    .banner h1{
        width: 84%;
    }
    
}