$color-primairy-text: #FF6060;
$color-secundairy-text: #F2F2F2;
$color-tertiary-text: #E0E0E0;
$color-tertiary-white: #FFF;
$color-tertiary-black: #000;
$color-primairy-background: #FF6060;
$color-secundairy-background: #F2F2F2;
$color-background-black: #000;
$color-background-white: #FFF;
$color-primairy-opacity: rgba(0, 0, 0, 0.5);