.appart-description{
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    flex-basis: 50%;
    overflow: hidden;
}

.appart-description p{
    margin-block: 0;
}

.appart-description p i{
    display:  flex;
    align-items: flex-end;
}

.description-title{
    background-color: #FF6060;
    color: white;
    padding: 10px 20px;
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.description-info{
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    position: relative;
    top: -0.5rem;
    z-index: -1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
}

.description-info.hidden{
    transform: translateY(-100%);
}

.description-info.visible{
    transform: translateY(0);
}


.description-info li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.description-content{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .appart-description{
        flex-basis: 100%;
    }
    .description-content{
        flex-direction: column;
    }
    .description-info{
        top: 0;
    }
}