.owner-appart h3 {
    margin-block: 0;
}

.profile-picture img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.owner-appart-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.owner-appart-info h3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}


.appart-owner-stars {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 21px;
}

.appart-owner-stars i {
    font-size: 18px;
    color: #E0E0E0;
}

.appart-owner-stars .on {
    color: #FF6060;
}

@media screen and (max-width: 768px) {
    .owner-appart {
        display: flex;
        margin-top: 20px;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .owner-appart h3 {
        font-size: 14px;
    }

    .owner-appart-info {
        gap: 5px;
    }

    .owner-appart-info h3 {
        font-size: 15px;
    }

    .appart-owner-stars {
        padding-top: 10px;
    }

    .appart-owner-stars i {
        font-size: 20px;
    }
}